.home-header {
    padding-top: 3rem;
    width: 100%;
    &__title {
        color: $pink;
        font-family: $IBM;
    }

    &__button {
        min-width: 200px;
        border-color: rgba(200, 112, 146, 0.43);
        color: $light-pink;

        &:hover {
            background: $light-pink;
            color: white;
            border-color: transparent;
        }
    }
}

.home-content {
    &__select {
        label {
            align-self: self-start;
        }
    }
}
